* {
  box-sizing: border-box;
}

body {
  margin-left: 100px;
  margin-right: 100px;
}

#navbar {
  margin-bottom: 60px;
  border: 0px solid #f4f2f2;
  box-shadow: 2px 2px 2px #7f7a7a;
  position: relative;
  padding: 12px;
  width: 100%;
}

#dropdown {
  background-color: #0094ce;
}

#aboutButton {
  width: 100px;
  position: absolute;
  right: 20px;
}

#home {
  font-size: 1.2em;
}

.right {
  float: right;
}

li {
  display: inline;
}

#navbar li a {
  color: #0094ce;
  text-decoration: none;
  padding: 13px;
}

h1 {
  font-size: 2.7em;
  font-weight: normal;
  color: #5e6166;
  font-family: 'Times New Romans';
  text-align: center;
}

h4 {
  color: #5e6166;
}

#choose {
  margin-top: 60px;
  width: 100%;
}

.choices {
  /*padding-top: 15px;
  padding-left: 10px;*/
  border-radius: 3px;
  position: relative;
  /*border: 1px solid black;*/
  margin-bottom: 45px;
}

#file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label {
    font-size: 1em;
    font-weight: 350;
    color: white;
    padding: 5px;
    background-color: #0094ce;
    display: inline-block;
    width: 55%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.fa.fa-upload {
  margin-right: 5px;
}

#searchbox {
  width: 200px;
  height: 45px;
  vertical-align: middle;
  white-space: nowrap;
  /*position: absolute;*/
  display: inline-block;
}

#searchbox .icon {
  vertical-align: middle;
  left: 15px;
  top: 6px;
  position: absolute;
}

#searchbox input#search {
  width: 180px;
  height: 30px;
  background: #eaeeef;
  border: none;
  font-size: 12px;
  float: left;
  color: #63717f;
  padding-left: 45px;
  border-radius: 5px;
}

select {
  display: inline-block;
  height: 30px;
  width: 130px;
  overflow: hidden;
  outline: 0;
  box-shadow: none;
}

#searchSelect {
  position: relative;
  top: -7px;
  vertical-align: middle;
  /*position: absolute;*/
  /*top: 0px;*/
}

button {
  background-color: #0094ce;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: 400;
  padding: 8px;
  font-size: 0.8em;
  height: 30px;
  outline: 0;
  box-shadow: none;
}

button#searchIndex {
  position: absolute;
  display: inline-block;
  width: 120px;
  margin-left: 20px;
}

.modal-title {
  color: #c42940;
}

.clearfix {
  overflow: auto;
}

.fa-times {
  color: #c42940;
}

.fa-check {
  color: #0094ce;
}

.indexResult {
  clear: both;
  width: 100%;
}

#recentIndexed a {
  color: #0094ce;
  text-decoration: none;
  cursor: pointer;
  padding: 13px;
}

#recentIndexed {
  font-size: 1em;
  font-weight: 350;
  text-align: center;
}
